<div class="container" style="margin-top: 50px;">
    {{!-- fila 1 --}}
    <div class="row">
        <p class="text-right"> Hola {{ usuario }} ! <a class='btn btn-danger' href="/admin/login/logout">Cerrar sesión
                <i class="fa fa-sign-out-alt"></i></a></p>
    </div>
    {{!-- fin fila 1 --}}
    <div class="row">
        <div class="col-7">
            <h2>Listado de novedades</h2>
        </div>
        <div class="col-2 text-right">
            <a href="/admin/novedades/agregar" class="btn btn-success"><i class="fa fa-plus">
                </i> Nuevo</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col">Imagen</th>
                        <th scope="col" class="text-end">Acciones</th>
                    </tr>
                </thead>

                <body>
                    {{#each novedades}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td>{{{imagen}}}</td>
                        <td class="text-end">
                            <a href="/admin/novedades/modificar/{{id}}" class="btn btn-sm btn-secondary">
                                <i class="fas fa-pencil-alt"></i></a>
                            <a href="/admin/novedades/eliminar/{{id}}" class="btn btn-sm btn-secondary">
                                <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </body>
            </table>
        </div>
    </div>

    </div>